[Unit]
Description=PE ACE Server
After=syslog.target network.target

[Service]
User=pe-ace-server
Group=pe-ace-server
EnvironmentFile=-/etc/sysconfig/pe-ace-server-service
EnvironmentFile=-/etc/default/pe-ace-server-service
Environment=GEM_PATH=/opt/puppetlabs/server/apps/ace-server/lib/ruby:/opt/puppetlabs/puppet/lib/ruby/gems/2.5.0:/opt/puppetlabs/puppet/lib/ruby/vendor_gems
ExecStart=/opt/puppetlabs/server/apps/ace-server/bin/puma -C /opt/puppetlabs/server/apps/ace-server/config/transport_tasks_config.rb -e production
Restart=always
#set default privileges to -rw-r-----
UMask=027
KillMode=process

[Install]
WantedBy=multi-user.target
